{% extends 'base/layout.html'%}

{% block header %}


<link rel="stylesheet" href="{{url_for('static', filename='css/style-button.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!--
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha512-nhY06wKras39lb9lRO76J4397CH1XpRSLfLJSftTeo3+q2vP7PaebILH9TqH+GRpnOhfAGjuYMVmVTOZJ+682w==" crossorigin="anonymous"></script>
-->
<div class="container-fluid" >
 <div class="row-fluid">
  <div class="col-md-offset-4 col-md-4" id="box">
   <h1 class="text-center text-info">ĐĂNG KÝ TÀI KHOẢN</h1>
   <hr>
   <form class="form-horizontal" action="" method="get" id="register_form">
    <fieldset>
        <div class="form-group">
      <div class="col-md-12">
       <div class="input-group "> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input name="full_name" placeholder="Fullname" class="form-control" type="text">
       </div>
      </div>
     </div>
     <div class="form-group">
      <div class="col-md-12">
       <div class="input-group "> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input name="user_name" placeholder="Username" class="form-control" type="text">
       </div>
      </div>
     </div>
     <div class="form-group">
      <div class="col-md-12">
       <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> <input name="pass" placeholder="Password" class="form-control" type="text">
       </div>
      </div>
     </div>
        <div class="form-group">
      <div class="col-md-12">
       <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> <input name="confirm_pass" placeholder="Confirm password" class="form-control" type="text">
       </div>
      </div>
     </div>
     <div class="form-group">
      <div class="col-md-12">
       <button type="submit" class="btn btn-md btn-danger pull-right">Đăng ký </button>
      </div>
     </div>

    </fieldset>


   </form>
  </div>
 </div>
</div>

  {% block banner %}
  {% endblock %}

  {% block content %}
  {% endblock %}

{% endblock %}